<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours - @ViewBag.Title </title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @* Menú *@
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Tours", "Index", "Cliente", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Clientes", "Index", "Cliente", new { }, new {@class= "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Tours", "Index", "Tour", new { }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reservas</a>
                </li>
            </ul>
            
        </div>
    </nav>
    @* Menú *@
    @if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
    {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            
            <p class="mb-0">@ViewBag.Mensaje</p>
        </div>
    }



    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - II Cuatrimestre</p>
        </footer>
    </div>

</body>
</html>